
absl-py==2.1.0
aiofiles==24.1.0
anaconda-navigator==2.3.2
appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
backoff==2.2.1
backports.weakref==1.0.post1
bcrypt==4.2.1
bkcharts==0.2
branca==0.7.2
brotlipy==0.7.0
build==1.2.2.post1
chroma-hnswlib==0.7.6
chromadb==0.6.2
clyent==1.2.2
coloredlogs==15.0.1
comtypes==1.1.10
conda-repo-cli==1.0.20
conda-verify==3.4.2
daal4py==2023.1.1
dataclasses-json==0.6.6
datashape==0.5.4
Deprecated==1.2.15
distlib==0.3.9
dnspython==2.7.0
durationpy==0.9
emoji==2.14.0
et-xmlfile==1.1.0
eval_type_backport==0.2.2
fastapi==0.115.6
filetype==1.2.0
flatbuffers==24.12.23
folium==0.16.0
google-api-core==2.24.0
google-api-python-client==2.158.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
grpcio==1.69.0
html5lib==1.1
httplib2==0.22.0
httptools==0.6.4
httpx-sse==0.4.0
huggingface-hub==0.27.1
humanfriendly==10.0
immutabledict==4.2.0
inflection==0.5.1
jiter==0.8.0
jsonpath-python==1.0.6
jsonpointer==2.1
kubernetes==31.0.0
langchain==0.3.9
langchain-community==0.3.8
langchain-core==0.3.21
langchain-openai==0.2.10
langchain-text-splitters==0.3.2
langdetect==1.0.9
langsmith==0.1.147
lxml==5.2.1
marshmallow==3.21.2
matplotlib==3.9.2
mkl-service==2.4.0
mmh3==5.0.1
monotonic==1.6
munkres==1.1.4
navigator-updater==0.3.0
ndjson==0.3.1
numpy==1.24.4
oauthlib==3.2.2
onnxruntime==1.19.2
openai==1.55.3
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.10.3
ortools==9.10.4067
packaging==23.2
pep8==1.7.1
ply==3.11
posthog==3.7.5
proto-plus==1.25.0
protobuf==5.27.0
pyasn1-modules==0.2.8
pydantic_core==2.20.1
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pymongo==4.10.1
pypdf==5.1.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
python-docx==1.1.2
python-iso639==2024.10.22
python-magic==0.4.27
python-oxmsg==0.0.1
pywin32==305.1
RapidFuzz==3.11.0
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn-intelex==20230426.122314
starlette==0.41.3
tavily-python==0.5.0
TBB==0.2
tiktoken==0.7.0
tokenizers==0.21.0
typing-inspect==0.9.0
typing_extensions==4.12.2
unstructured==0.16.12
unstructured-client==0.28.1
uritemplate==4.1.1
uvicorn==0.34.0
virtualenv==20.28.0
watchfiles==1.0.4
webencodings==0.5.1
websockets==14.1
win-unicode-console==0.5
wincertstore==0.2
